PORT=3003
APP_ENV=local

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=app_db
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable
GOOSE_MIGRATION_DIR=database/migrations

TEST_DATABASE_NAME=${DB_NAME}_test
TEST_DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${TEST_DATABASE_NAME}?sslmode=disable

TZ=UTC

# Duration is in minutes
SESSION_DURATION=60
SESSION_REFRESH_WINDOW=10
TOKEN_LENGTH=32
MAXIMUM_SESSION=5

GEO2IP_URL=https://cdn.jsdelivr.net/npm/@ip-location-db/geolite2-city-mmdb/geolite2-city-ipv4.mmdb
GEO21P_ACCOUNT_ID=
GEO21P_LICENSE_KEY=